<div class="page-header">
  <h1>Ride Detail</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <img src = "http://www.sunshinetaxillc.com/yahoo_site_admin/assets/images/taxi.9485942.jpg">
  </div>
  <div class="col-md-6">
    <h3>Taxi ride from Evanston to O'Hare</h3>
    <p class="lead">Date: January 23, 2014</p>
    <p class = "lead">Time: 4:00pm</p>
    <p>Other Riders: Jane Doe, John Doe, Mike Smith, (Open)</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-3">
    <a class="btn btn-lg btn-primary btn-block" href="/index">Back to Search</a>
  </div>
  <div class="col-md-3">
    <a class="btn btn-lg btn-primary btn-block" href="/show">Reserve Spot</a>
  </div>
</div>
